html, body, #root {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  color: #3d3d3d;
  width: 100%;
  min-height: 100%;
  background-size: cover;
  z-index: 0;
  background-image:url(../../fixtures/orange-bg.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}
.text-orange{
  color: #f1a501;
}
.ar{
  text-align: right;
  margin-right: 2%;
}